<!DOCTYPE html>
<html>
  <head>
    <title>EMPLOYEE</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <h2>Employee Management System</h2>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Post</th>
        <th>Salary</th>
        <th>Delete</th>
      </tr>
      <% data.forEach(element=> { %>
      <tr>
        <td><%= element.employeeId %></td>
        <td><%= element.employeeName %></td>
        <td><%= element.employeePost %></td>
        <td><%= element.employeeSalary %></td>
        <td>
          <form action="/delete" method="post">
            <input
              type="text"
              style="display: none"
              name="employeeId"
              value="<%= element.employeeId %>"
            />
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </table>
    <div class="main">
     
      <div class="addemp">
        <h2>Add Employee</h2>
        <form action="/" method="post">
          <input type="text" placeholder="Employee Name" name="employeeName" />
          <input type="text" placeholder="Employee Post" name="employeePost" />
          <input
            type="text"
            placeholder="Employee Salary"
            name="employeeSalary"
          />
          <button type="submit">Submit</button>
        </form>
      </div>
      
      <div class="updtemp">
        <h2>Update Employee</h2>
        <form action="/update" method="post">
          <input type="text" placeholder="Employee Id" name="employeeId" />
          <input type="text" placeholder="Employee Name" name="employeeName" />
          <input type="text" placeholder="Employee Post" name="employeePost" />
          <input
            type="text"
            placeholder="Employee Salary"
            name="employeeSalary"
          />
          <button type="submit">Update</button>
        </form>
      </div>
    </div>
  </body>
</html>
